@model List<Breshop.Models.Produto>

<!DOCTYPE html>
<html style="font-size: 16px;" lang="pt">
<head>
    <title>Calçados</title>
    <link rel="stylesheet" href="~/css/nicepage.css" />
    <link rel="stylesheet" href="~/css/Calçados.css" />
    <script class="u-script" type="text/javascript" src="~/js/jquery.js"></script>
    <script class="u-script" type="text/javascript" src="~/js/Carrinho/Carrihno.js"></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js"></script>
</head>
<body class="u-body u-xl-mode" data-lang="pt">
    <h2 class="title-produto">Produtos em alta</h2>
    <input type="hidden" id="idUsuario" value="@ViewData["IDUSUARIO"]"/>
    @if (Model != null && Model.Any())
    {
        <div class="grid-produto">
            @foreach (var item in Model)
            {
                <section class="u-expanded-width u-list u-list-1">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <img src="@item.UrlImagem" alt="" class="img-produto">
                        <h5 class="descricao">@item.Descricao</h5>
                        <h3 class="">R$ @item.Preco</h3>
                        <span onclick="AdicionarNoCarrinho(@item.IdProduto)"><img class="icone-adicionar-carrinho" src="~/images/Carrinho/adicionar-ao-carrinho.png"/></span>
                        <span><img class="icone-remover-carrinho" src="~/images/Carrinho/remover-do-carrinho.png"/></span>
                    </div>
                </section>
            }
        </div>
    }
</body>
</html>